body{
    background: hsl(212, 45%, 89%);
}
.container{
    border: 1px;
    border-radius: 3%;
    background: #fff;
    width: 400px;
    height: 570px;
    margin: 90px auto;
}
.image-container img {
    border-radius: 3%;
    margin: 12px 1px 0px 25px;
   width: 350px;
    height: 350px;
}
.text-container{
    text-align: center;
    font-family: 'outfit', sans-serif;
    font-weight: 400px;
}
.paragraph{
    text-align: center;
    font-family: 'outfit', sans-serif;
    font-size: 15px;
    font-weight: 400px;
}
